/* .nd {
  margin-top: 30px;
}
.nd h2 {
  font-size: max(5vw 24px);
  font-weight: 300;
}
.nd-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
  margin-bottom: 30px;
} */
