.host {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}
.host-container {
  place-self: center;
  width: max(40vw, 380px);
  color: #808080;
  background-color: white;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.host-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.host-title RxCross2 {
  cursor: pointer;
}
.host-input {
  display: flex;
  flex-direction: column;
}
.host-input input,
textarea,
select {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.host-condition {
  display: flex;
  align-items: start;
  gap: 8px;
}
label {
  font-weight: 600;
  margin-bottom: 5px;
  margin-right: 10px;
}
button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
}

.candidate-button {
  background: #000;
  margin-left: auto;
}

.candidate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.candiadte-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.candidate-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.date-input-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.new-candidate {
  display: flex;
  flex-direction: column;
}
.cross {
  font-weight: bold;
  cursor: pointer;
}

.cross:hover {
  color: #000;
}

h3 {
  color: #000;
  margin-bottom: 10px;
}

.no-user-host-container {
  max-width: 300px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-card {
  width: 680px;
  display: flex;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  width: 100%;
  padding: 20px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 14px;
  line-height: 12px;
  margin-bottom: 15px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 13px;

  font-weight: 300;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: tomato;
}
